This project will aim to analyze the eBay listing for used cars. 
The project is explorative, and aims to gain general insighht into data. 
The project is used as a context to practice the Pandas and NumPy libraries for Python.

# 1. Set up and inspection
First we will set up the project: importing the respective libraries, and inspecting the data.

In [1]:
#importing libraries

import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [2]:
# observing the data
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
# observing summary of columns
print(autos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None

We can see that we have all 20 columns, which are mostly non-null. (most null is for notRepairedDamage).

In [4]:
#observing the top rows
print(autos.head(5))

           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50

The rows seem to have certain data types which could be converted to floats/integers for better analysis (e.g price) and odomoter values. 
The date and time is also read out as a string. We can utilise the datetime libraries in order to operate on these dates more efficiently. 

The row of 'notRepairedDamage' can also be converted into boolean, since it is currently stored as 'yes/no'.

Now looking at the describe statistics.

In [5]:
autos.describe(include='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

To be consistentwith formatting we will use snakecase rather than Camelcase throughout the project. Hence we will rename the headers for the columns.

In [6]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
#use the following rename dictionary to swap column names
mapping = {
    'dateCrawled':'date_crawled',
    'name':'name',
    'seller':'seller',
    'offerType':'offer_type',
    'price':'price',
    'abtest':'abtest',
    'vehicleType':'vehicle_type',
    'yearOfRegistration':'registration_year',
    'gearbox':'gearbox',
    'powerPS':'powerPS',
    'model':'model',
    'odometer':'odometer',
    'monthOfRegistration':'registration_month',
    'fuelType':'fuel_type',
    'brand':'brand',
    'notRepairedDamage':'unrepaired_damage',
    'dateCreated':'ad_created',
    'nrOfPictures':'nr_of_pictures',
    'postalCode':'postal_code',
    'lastSeen':'last_seen'
}

In [8]:
autos.rename(columns=mapping, inplace=True)
print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

Columns succesfully renamed.

# 2. Cleaning the data

We wil now look at the data itself, and perform any preliminary cleaning that ought to be done before analysis.

In [9]:
autos.describe()

,registration_year,powerPS,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

Looking at the headline figures, we make a the following oservations:
1. The nr_of_pictures is all 0 , indicating either a data collection error (unlikely that for all listings there are 0 pictures on ebay)
2. Registration year will require investigation, as the minimum registration year is seen as 1000 - unlikely , given that the first car was invented in 1885.
3. There might be missing registration months as well, given that theese can only have values 1-12 , whereas we see a minimum values of 0. It is possible that the nulls are stored as -. 
4. The 'autos.describe' returns the summary statistics of the values stored as floats. Comparing this to 'autos.info' we can see that some of the columns, which we'd expect to be useful to interpret as floats/integeres are stored as strings. These for example, include the 'price' and 'odometer' columns, as these include the currency symbols and distance units

In order to prepare the data for analysis, we will remove the unit descriptors from the individual rows (separating them), and convert the columns into floats. 

We also notice that there are ',' (commas) used in order to seperate the 1000s. We will also remove those to allow for float analysis.

First we convert  the price columns to flot figures

In [10]:
#converting the price column from 'object' to 'string' type
autos['price'] = autos['price'].astype(str)

#applying string operations

autos['price'] = autos['price'].str.replace('$','')
autos['price'] = autos['price'].str.replace(',','')
autos['price'] = autos['price'].astype(int)

#inspecting the data after conversion
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

Now we convert the odometeer reading column to float values, removing the distance units, and comma 1000s separator. We will also rename the column header from 'odometer' to 'odometer_km' to preserve the information that the values are stored in kilometers

In [11]:
#converting the odometer column from 'object' to 'string' type
autos['odometer'] = autos['odometer'].astype(str)

#applying string operations

autos['odometer'] = autos['odometer'].str.replace('km','')
autos['odometer'] = autos['odometer'].str.replace(',','')
autos['odometer'] = autos['odometer'].astype(int)

#inspecting the data after conversion
autos['odometer'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer, dtype: float64

In [12]:
# 
autos.rename({'odometer' : 'odometer_km'}, axis = 1,  inplace = True)

print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

We have now converted the numeric columns to store numeric float values, rather than objects.

We will now clean the price and odomoter values , and look at outliers.

## Cleaning the price values


Inspecting the price first, we see that we have '0' values:

In [13]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [14]:
autos['price'].value_counts().sort_index(ascending=True)

0           1421
1            156
2              3
3              1
5              2
8              1
9              1
10             7
11             2
12             3
13             2
14             1
15             2
17             3
18             1
20             4
25             5
29             1
30             7
35             1
40             6
45             4
47             1
49             4
50            49
55             2
59             1
60             9
65             5
66             1
            ...
151990         1
155000         1
163500         1
163991         1
169000         1
169999         1
175000         1
180000         1
190000         1
194000         1
197000         1
198000         1
220000         1
250000         1
259000         1
265000         1
295000         1
299000         1
345000         1
350000         1
999990         1
999999         2
1234566        1
1300000        1
3890000        1
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price, Length: 2357, dtype: int64

We will inspect the most expensive entries (above 1m).

In [15]:
autos.loc[autos['price'] > 1000000]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111,test,limousine,1973,manuell,48,escort,50000,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000,control,coupe,1992,NaN,0,NaN,50000,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000,control,coupe,1960,manuell,368,NaN,100000,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566,control,kombi,1999,automatik,190,NaN,150000,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678,control,limousine,2001,manuell,101,vectra,150000,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54
47634,2016-04-04 21:25:21,Ferrari_FXX,privat,Angebot,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37

At this price point we expect sports/collector cars, however we see that there is a number of cars that we do not expect at that price point (such as a golf TDI, or an old volvo v40). We will remove these rows from the datastet ( these could have been either a bad entry in price, or intentional to gain attention).

In [16]:
#dropping the head values of price
autos.drop([2897], inplace = True)
autos.drop([22947], inplace = True)
autos.drop([24384], inplace = True)
autos.drop([27371], inplace = True)
autos.drop([39377], inplace = True)
autos.drop([39705], inplace = True)
autos.drop([42221], inplace = True)
autos.drop([47598], inplace = True)
autos.drop([11137], inplace = True) #overpriced maserati (1 too many zeroes)

Inspecting further the range of values.
Looking at the range of values we see that there is a number of cars with a price of '< 1000' - we will set the minimum price at 1000\$, since it is unlikely that the cars priced belo w the price point are realised offers. The listing include bidding pages, and so it is possible that sellers had set an initial bidding price very low (e.g at 1$). We wil exclude these lower price ranges, as this would skew the analysis with listing that currently have low bids, or that have just been listed.

In [17]:
#setting a minimum price of 1000$

autos = autos[autos['price'] > 1000]

#inspecting final set

print(autos['price'].value_counts().sort_index(ascending=True).head(5))
print(autos['price'].value_counts().sort_index(ascending=True).tail(5))

1039     1
1040     1
1049     6
1050    95
1059     1
Name: price, dtype: int64
350000     1
999990     1
999999     2
1300000    1
3890000    1
Name: price, dtype: int64

In [18]:
autos['price'].describe()

count    3.799200e+04
mean     7.575204e+03
std      2.476903e+04
min      1.039000e+03
25%      2.300000e+03
50%      4.499000e+03
75%      8.999000e+03
max      3.890000e+06
Name: price, dtype: float64

#### Findings:
- We note that the current values can also include prices that are currently being bid (which can skew the price downwards, as the final settlement price is still being reached).
- The mean price is 7575.20\$
- Outliers had been removed

## Cleaning the odometer values
We will now inspect the range of odomoter values to ensure that they are within expected ranges.

In [19]:
autos['odometer_km'].describe()

count     37992.000000
mean     122490.919141
std       40899.765790
min        5000.000000
25%      100000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [20]:
autos['odometer_km'].value_counts().sort_index(ascending=False)

150000    22776
125000     4300
100000     1852
90000      1560
80000      1326
70000      1153
60000      1093
50000       982
40000       795
30000       747
20000       688
10000       227
5000        493
Name: odometer_km, dtype: int64

#### Findings:
- There are no significant outliers in the odometer value ranges
- There a proportionately more cares with as mileage increases (which is to be expectedm, as ebay is used to sell also used cars)

## Cleaning the Date values

We now turn our attention towards the columns containing date and time information, to ensure that the values are stored are well-behaved.

The columns containing date information are as follows:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

In [21]:
autos[['date_crawled','last_seen',
      'ad_created','registration_month',
      'registration_year']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37992 entries, 0 to 49999
Data columns (total 5 columns):
date_crawled          37992 non-null object
last_seen             37992 non-null object
ad_created            37992 non-null object
registration_month    37992 non-null int64
registration_year     37992 non-null int64
dtypes: int64(2), object(3)
memory usage: 1.7+ MB

Inspecting the columns of the autos dataset, we see that'date crawled' , 'last_seen', and 'ad_created' columns store strings.

Let us take a sample of the columns which store these objects.

In [22]:
autos[['date_crawled','last_seen',
      'ad_created']].head(5)

          date_crawled            last_seen           ad_created
0  2016-03-26 17:47:46  2016-04-06 06:45:54  2016-03-26 00:00:00
1  2016-04-04 13:38:56  2016-04-06 14:45:08  2016-04-04 00:00:00
2  2016-03-26 18:57:24  2016-04-06 20:15:37  2016-03-26 00:00:00
3  2016-03-12 16:58:10  2016-03-15 03:16:28  2016-03-12 00:00:00
4  2016-04-01 14:38:50  2016-04-01 14:38:50  2016-04-01 00:00:00

We observe that the first 10 characters in each row represent the date input, in each of the columns. The remainder is used for time storage. We will use the first 10 characters in each row, to perform our analysis.

We will now take a close look at the dsitrivution of values in terms of dates, for the dataframe.

In [23]:
# Removing time values from the dataframe
print('Crawl Dates')
print(autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

#last_seen dates distribution
print('last_seen Dates')
print(autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

#ad_created dates distribution
print('ad_created dates')
print(autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

Crawl Dates
2016-03-05    0.025716
2016-03-06    0.014003
2016-03-07    0.035455
2016-03-08    0.032349
2016-03-09    0.032481
2016-03-10    0.033270
2016-03-11    0.032954
2016-03-12    0.037640
2016-03-13    0.016056
2016-03-14    0.036771
2016-03-15    0.033507
2016-03-16    0.029032
2016-03-17    0.030164
2016-03-18    0.012924
2016-03-19    0.035113
2016-03-20    0.038245
2016-03-21    0.037324
2016-03-22    0.032559
2016-03-23    0.032059
2016-03-24    0.028796
2016-03-25    0.030296
2016-03-26    0.033139
2016-03-27    0.031454
2016-03-28    0.035350
2016-03-29    0.034060
2016-03-30    0.032954
2016-03-31    0.031401
2016-04-01    0.034560
2016-04-02    0.036376
2016-04-03    0.039245
2016-04-04    0.036771
2016-04-05    0.013240
2016-04-06    0.003238
2016-04-07    0.001500
Name: date_crawled, dtype: float64
last_seen Dates
2016-03-05    0.001105
2016-03-06    0.003553
2016-03-07    0.004501
2016-03-08    0.006264
2016-03-09    0.008923
2016-03-10    0.009686
2016-03-11    0.011687
2016-03-12    0.022215
2016-03-13    0.008318
2016-03-14    0.012055
2016-03-15    0.014898
2016-03-16    0.015477
2016-03-17    0.026190
2016-03-18    0.007370
2016-03-19    0.014556
2016-03-20    0.019609
2016-03-21    0.019530
2016-03-22    0.020768
2016-03-23    0.017951
2016-03-24    0.018530
2016-03-25    0.017714
2016-03-26    0.015951
2016-03-27    0.014029
2016-03-28    0.019425
2016-03-29    0.020583
2016-03-30    0.023479
2016-03-31    0.022794
2016-04-01    0.023242
2016-04-02    0.024926
2016-04-03    0.024558
2016-04-04    0.023215
2016-04-05    0.131580
2016-04-06    0.234734
2016-04-07    0.140582
Name: last_seen, dtype: float64
ad_created dates
2015-06-11    0.000026
2015-08-10    0.000026
2015-09-09    0.000026
2015-11-10    0.000026
2015-12-30    0.000026
2016-01-03    0.000026
2016-01-07    0.000026
2016-01-10    0.000053
2016-01-13    0.000026
2016-01-14    0.000026
2016-01-16    0.000026
2016-01-22    0.000026
2016-01-27    0.000079
2016-01-29    0.000026
2016-02-01    0.000026
2016-02-02    0.000053
2016-02-05    0.000053
2016-02-07    0.000026
2016-02-09    0.000026
2016-02-11    0.000026
2016-02-12    0.000053
2016-02-14    0.000053
2016-02-16    0.000026
2016-02-17    0.000026
2016-02-18    0.000053
2016-02-19    0.000079
2016-02-20    0.000026
2016-02-21    0.000053
2016-02-22    0.000026
2016-02-23    0.000105
                ...
2016-03-09    0.032717
2016-03-10    0.032902
2016-03-11    0.033244
2016-03-12    0.037376
2016-03-13    0.017741
2016-03-14    0.035086
2016-03-15    0.033296
2016-03-16    0.029611
2016-03-17    0.029875
2016-03-18    0.013371
2016-03-19    0.034033
2016-03-20    0.038324
2016-03-21    0.037640
2016-03-22    0.032323
2016-03-23    0.031796
2016-03-24    0.028822
2016-03-25    0.030427
2016-03-26    0.033270
2016-03-27    0.031322
2016-03-28    0.035376
2016-03-29    0.034033
2016-03-30    0.032823
2016-03-31    0.031559
2016-04-01    0.034402
2016-04-02    0.036034
2016-04-03    0.039535
2016-04-04    0.037218
2016-04-05    0.011845
2016-04-06    0.003343
2016-04-07    0.001316
Name: ad_created, Length: 74, dtype: float64

In [24]:
#Analysing the registration year
print(autos['registration_year'].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

1000    0.000026
1001    0.000026
1927    0.000026
1929    0.000026
1931    0.000026
1934    0.000053
1937    0.000105
1938    0.000026
1939    0.000026
1941    0.000053
1943    0.000026
1948    0.000026
1950    0.000026
1951    0.000053
1952    0.000026
1953    0.000026
1954    0.000053
1955    0.000053
1956    0.000105
1957    0.000053
1958    0.000079
1959    0.000158
1960    0.000421
1961    0.000158
1962    0.000105
1963    0.000211
1964    0.000237
1965    0.000447
1966    0.000553
1967    0.000658
          ...
1999    0.043351
2000    0.050379
2001    0.052748
2002    0.055459
2003    0.064408
2004    0.068041
2005    0.072910
2006    0.069673
2007    0.059407
2008    0.058012
2009    0.054669
2010    0.041667
2011    0.042562
2012    0.034376
2013    0.020925
2014    0.017083
2015    0.009502
2016    0.016398
2017    0.025795
2018    0.010239
2019    0.000026
2800    0.000026
4100    0.000026
4500    0.000026
5000    0.000053
5911    0.000026
6200    0.000026
8888    0.000026
9000    0.000026
9999    0.000053
Name: registration_year, Length: 91, dtype: float64

### Observations:
#### Crawl dates
The crawl has been performed from 5th of march to 7th of April, and is roughly evenly distributed, with the exception of the last crawls in april.|

The data was crawled every day from  5 March 2016 and ending at 7 April 2016.

#### Last Seen dates
The last_seen column denotes when the crawler saw thi ad last online. 
There is a signifact fall off of this in 3 days of posting. This is expected as newly posted vehicles need time to sell. This also might indicate the cars close on offers quite commonly in 3/4 days of posting, and the ad is then closed. The Older the timeframe, the less frequent this occurence is. These rows would also include if a listing was re-posted.

#### Ad Created dates
The older the the ad, the less entries obtain. This is to be expected as older postings are taken off / the cars get sold over time.

#### Registration year
There is a portion of cars where the registration date is out of expected values.
These include '1000' & '1001' and years going past 2016.
We also have entires where registration year is '2100+' ; which might be indicating an unregistered vehicle. 
The cars registered at these dates consitute a small portion of the entire dataset, so we will clean it from the set for analysis. 


The data had been crawled in april 2016, however we seee a fair portion of cars registered in 2017 and 2018 - which is providing false information.

#### Amending the registration year
As acceptable value for registration year we will keeping the range of values from 1900 to 2016.

In [25]:
autos[autos['registration_year'].between(1900,2016)].describe()

,price,registration_year,powerPS,odometer_km,registration_month,nr_of_pictures,postal_code
count,3.660900e+04,36609.000000,36609.000000,36609.000000,36609.000000,36609.0,36609.000000
mean,7.680874e+03,2004.043596,130.149963,122262.831544,6.060258,0.0,51883.379497
std,2.520566e+04,7.017629,197.578657,40981.690248,3.567381,0.0,25669.470411
min,1.039000e+03,1927.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,2.300000e+03,2001.000000,82.000000,100000.000000,3.000000,0.0,31319.000000
50%,4.500000e+03,2005.000000,120.000000,150000.000000,6.000000,0.0,51065.000000
75%,9.200000e+03,2008.000000,163.000000,150000.000000,9.000000,0.0,72654.000000
max,3.890000e+06,2016.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [26]:
# inspecting pre-changes
autos['registration_year'].between(1900,2016).describe()

count     37992
unique        2
top        True
freq      36609
Name: registration_year, dtype: object

In [27]:
# amending with range of dates
autos = autos[autos['registration_year'].between(1900,2016) == True]

In [28]:
#verifying applied changes
autos['registration_year'].between(1900,2016).describe()

count     36609
unique        1
top        True
freq      36609
Name: registration_year, dtype: object

In [29]:
#inspecting the distribution of remainging values
autos['registration_year'].value_counts().sort_index(ascending=True)

1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       1
1951       2
1952       1
1953       1
1954       2
1955       2
1956       4
1957       2
1958       3
1959       6
1960      16
1961       6
1962       4
1963       8
1964       9
1965      17
1966      21
1967      25
1968      26
1969      18
        ...
1987      51
1988     105
1989     119
1990     181
1991     201
1992     208
1993     208
1994     256
1995     418
1996     501
1997     741
1998    1214
1999    1647
2000    1914
2001    2004
2002    2107
2003    2447
2004    2585
2005    2770
2006    2647
2007    2257
2008    2204
2009    2077
2010    1583
2011    1617
2012    1306
2013     795
2014     649
2015     361
2016     623
Name: registration_year, Length: 77, dtype: int64

### Observations

 - We reduced the number of rows in the dataset from 37992 to 36609 - a 3.64% percent reduction in the dataset. This we will denote as a small redcution, and conclude that we still have a dataset that can be properly analyzed.
 
 - We can see a distribution with a long tail, with many cars registered around 2004/2005, with tails going in both directions. As expected there is a long historical tail. 
 
 - There is a number of old cars from 1944 downards - which are possibly collector car listings. 
 
 - 2016 has a spike of listings, and does not follow the decreasing trend from 2005 onwards - this is to be expected, as this bin would contain new rpdocution cars by dealers.

# 3. Exploring the data

We will now be looking to explore the dataset, that we have just prepared.

Firstly we will look at the the brand data for the ebay car sales, analysing the brand distribution.

In [30]:
autos['brand'].describe()

count          36609
unique            40
top       volkswagen
freq            7711
Name: brand, dtype: object

We se that we have 40 different brands across all listings.
We will be focusing onbucketing of the top 20 most popular brands of cars.

In [31]:
autos['brand'].value_counts().head(20)

volkswagen        7711
bmw               4623
mercedes_benz     4115
audi              3599
opel              3235
ford              2129
renault           1342
peugeot           1008
fiat               767
skoda              701
seat               633
smart              608
toyota             538
mazda              520
citroen            505
nissan             499
mini               405
hyundai            391
sonstige_autos     382
volvo              326
Name: brand, dtype: int64

This narrows down our analysis whilst also containing the majoruity of the population.

In [32]:
population_count = autos['brand'].value_counts().head(20).sum() / autos['brand'].value_counts().sum()
print('The retained population is', population_count ,'%')

The retained population is 0.9297440520090688 %

We will store the list of the top20 brands in the list 'selected_brands'

In [33]:
#we store the table filtered by top 20 population
selected_brands = list(autos['brand'].value_counts().head(20).index)

## Exploring the values of listing by brand

We will create a dictionary to analyse the mean values of listings, bucketed by brands.

In [40]:
brands_mean_values = {}

for brand in selected_brands:
    brands_mean_values[brand] = autos.loc[autos['brand'] == brand, 'price'].mean()

In [41]:
#sorting my highest to lowest mean
brands_mean_values
brand_mean_values_sorted = sorted(brands_mean_values.items(), key = lambda x: x[1], reverse = True)

for tuple in brand_mean_values_sorted:
    print(tuple)

('sonstige_autos', 28282.25392670157)
('mini', 10715.237037037037)
('audi', 10405.156988052237)
('mercedes_benz', 9377.267314702309)
('bmw', 9191.208955223881)
('volkswagen', 7000.87718843211)
('skoda', 6903.306704707561)
('nissan', 6515.456913827656)
('hyundai', 6301.148337595908)
('volvo', 6278.003067484663)
('ford', 5912.610145608267)
('seat', 5711.921011058452)
('toyota', 5624.578066914498)
('mazda', 5392.401923076923)
('citroen', 4700.8712871287125)
('opel', 4298.587326120556)
('fiat', 4074.8487614080836)
('peugeot', 4043.121031746032)
('smart', 3826.2006578947367)
('renault', 3677.821907600596)



#### Key findings:
- We see that 'mini', 'audi', 'mercedes_bez', and 'bmw' are the price leaers, and there is a large gap between bmw and the next price bucket of volkswagen (which average at around 7000, as measured aganst 9191 for bmw)
- The range of values for the mean is between 10,715 and 3677 (excluding sonstige_autos).
- 'sonstige_autos' is also an entry that is both relatively popular and high valued. This directly transaltes into 'other cars', and may inbclude a number of small, luxury car brands that exist in the market, hence being high on the mean price list.

## Exploring the mileage
We will create a dictionary to analyse the mileage of listings, bucketed by brands.

In [42]:
brands_mean_mileage = {} #store brand mean values

for brand in selected_brands:
    brands_mean_mileage[brand] = autos.loc[autos['brand'] == brand, 'odometer_km'].mean()

In [43]:
print(brands_mean_mileage)

{'citroen': 113673.26732673268, 'renault': 120916.54247391953, 'fiat': 107327.24902216428, 'seat': 115663.50710900474, 'nissan': 110220.44088176353, 'mercedes_benz': 129924.66585662212, 'mini': 88679.01234567902, 'peugeot': 121676.58730158731, 'volkswagen': 125481.77927635844, 'skoda': 109643.36661911555, 'ford': 119069.98590887741, 'bmw': 131841.87756867835, 'toyota': 113382.8996282528, 'smart': 97409.53947368421, 'volvo': 136917.17791411042, 'audi': 127453.4592942484, 'mazda': 119451.92307692308, 'sonstige_autos': 88494.76439790576, 'hyundai': 101240.40920716112, 'opel': 123588.87171561051}

## Converting data back into Pandas structures

For more detailed analysis, rather than operating on dictionaries, we will import the data into a pandas structure, in particular we will import it into a series, using the pandas constructor commands

First we create the brand-value series

In [57]:
bmv_series = pd.Series(brands_mean_values)
type(bmv_series)

pandas.core.series.Series

In [58]:
bmv_series

audi              10405.156988
bmw                9191.208955
citroen            4700.871287
fiat               4074.848761
ford               5912.610146
hyundai            6301.148338
mazda              5392.401923
mercedes_benz      9377.267315
mini              10715.237037
nissan             6515.456914
opel               4298.587326
peugeot            4043.121032
renault            3677.821908
seat               5711.921011
skoda              6903.306705
smart              3826.200658
sonstige_autos    28282.253927
toyota             5624.578067
volkswagen         7000.877188
volvo              6278.003067
dtype: float64

Now we create the brand-mileage series

In [62]:
bmm_series = pd.Series(brands_mean_mileage)
type(bmm_series)

pandas.core.series.Series

In [61]:
bmm_series

audi              127453.459294
bmw               131841.877569
citroen           113673.267327
fiat              107327.249022
ford              119069.985909
hyundai           101240.409207
mazda             119451.923077
mercedes_benz     129924.665857
mini               88679.012346
nissan            110220.440882
opel              123588.871716
peugeot           121676.587302
renault           120916.542474
seat              115663.507109
skoda             109643.366619
smart              97409.539474
sonstige_autos     88494.764398
toyota            113382.899628
volkswagen        125481.779276
volvo             136917.177914
dtype: float64

Now we will join the two together, since we can use the brand name as key on which we can join them together.
First setting up the dataframe, from the 'bmv_series'.

In [65]:
df = pd.DataFrame(bmv_series, columns =['mean_price'])

In [66]:
df['mileage'] = bmm_series

In [69]:
df

                  mean_price        mileage
audi            10405.156988  127453.459294
bmw              9191.208955  131841.877569
citroen          4700.871287  113673.267327
fiat             4074.848761  107327.249022
ford             5912.610146  119069.985909
hyundai          6301.148338  101240.409207
mazda            5392.401923  119451.923077
mercedes_benz    9377.267315  129924.665857
mini            10715.237037   88679.012346
nissan           6515.456914  110220.440882
opel             4298.587326  123588.871716
peugeot          4043.121032  121676.587302
renault          3677.821908  120916.542474
seat             5711.921011  115663.507109
skoda            6903.306705  109643.366619
smart            3826.200658   97409.539474
sonstige_autos  28282.253927   88494.764398
toyota           5624.578067  113382.899628
volkswagen       7000.877188  125481.779276
volvo            6278.003067  136917.177914

In [71]:
df.sort_values('mileage')

                  mean_price        mileage
sonstige_autos  28282.253927   88494.764398
mini            10715.237037   88679.012346
smart            3826.200658   97409.539474
hyundai          6301.148338  101240.409207
fiat             4074.848761  107327.249022
skoda            6903.306705  109643.366619
nissan           6515.456914  110220.440882
toyota           5624.578067  113382.899628
citroen          4700.871287  113673.267327
seat             5711.921011  115663.507109
ford             5912.610146  119069.985909
mazda            5392.401923  119451.923077
renault          3677.821908  120916.542474
peugeot          4043.121032  121676.587302
opel             4298.587326  123588.871716
volkswagen       7000.877188  125481.779276
audi            10405.156988  127453.459294
mercedes_benz    9377.267315  129924.665857
bmw              9191.208955  131841.877569
volvo            6278.003067  136917.177914

Looking at the correlation:

In [74]:
correlation = df['mean_price'].corr(df['mileage'])
print(correlation)

-0.39582889352056844

As expected we see a negative correlation on aggregate, however due to the bucketing, these values will have factors that will drive the correlation higher or lower. This inidicates that brand, or other factors will be at play when determining the price relationship of the car - which is to be expected. .